/* html body {
    background-color: #161617;
    color: #E6E5E9;
}

.navbar-default {
    background-color: #111112 !important;
}

h1 {
    font-size: 15px;
}

h1, h2, h3, h4, h5 {
    color: #E6E5E9;
}

.item a {
    color: #ffffff;
}

.item h5 {
    color: #AE8294;
}

.navbar.navbar-default {
    border-color: #B37C89;
    border-bottom-color: black;;
}

.content pre {
    background-color: #0d1117;
    border: 1px solid #30363d;
}

code.hljs {
    color: #8b949e;
    background: none;
}

code .hljs-type,
code .hljs-string,
code .hljs-number,
code .hljs-selector-id,
code .hljs-selector-class,
code .hljs-quote,
code .hljs-template-tag,
code .hljs-deletion {
    color: #a5d6ff;
} */

/* ------------------------------ */

main p {
    font-size: 18px;
    line-height: 32px;
    margin: 2em 0em 0em 0em;
    
}

main {
    max-width: 800px;
}

body {
    -webkit-font-smoothing: antialiased;
}

main h2 {
    line-height: 40px;
    letter-spacing: -0.016em;
    font-size: 32px;
    font-weight: 600;
}
